@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollbar-thumb {
    scrollbar-color: #4b5563 #f3f4f6; /* Thumb color and track color */
  }

  .scrollbar-thumb::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Thumb color */
    border-radius: 4px; /* Rounded corners */
  }

  .scrollbar-thumb::-webkit-scrollbar-track {
    background: #f3f4f6; /* Track color */
  }
}
