.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
  inset: 0px;
  left: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: #1a1a1a1a;
  border: 1px solid #1a1a1a33;
}

.spinner::after {
  content: '';
  background: white;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid #1a1a1a33;
}

.spinner::before {
  content: '';
  position: absolute;

  z-index: 9;
  top: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;

  border-top: 40px solid black;
}
